.Search {
  width: 100%;

  ::placeholder {
    opacity: 0.5;
  }

  .search-form {
    position: relative;
    width: 100%;
    padding: 0 3rem;

    .form-top-row {
      display: flex;
      align-items: center;

      .top-row-text-inputs {
        width: 100%;
        display: flex;
        flex-direction: column;
        .search-input {
          width: 100%;
          border: none;
          margin: 1rem 0;
          padding: 1rem;
          font-weight: 300;
          &:nth-child(2) {
            margin: 0;
          }
        }
      }
    }

    .form-fulltime {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 2rem 0;
      input {
        appearance: checkbox;
        width: auto!important;
        margin: 0 1rem 0 0!important;
        background-color: red;
      }
      label {
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1;
        opacity: 0.5;
      }
    }

    .form-bottom-row {
      display: flex;

      .disabled {
        background-color: #e09e9e!important;
      }
      button {
        width: 50%;
        padding: 1rem 0;
        font-size: 2rem;
        margin-right: 1rem;
        background-color: #4299e1;
        color: #fff;
        border: none;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
        &:last-child{
          margin-right: 0;
          background-color: #f56565;
        }
      }
    }
  }
}